<div id="div1">
	<ul>
    	<li><a href="javascrpt:;" target="_blank"><img src="/images/logo.jpg" /></a></li>
    	<li><a href="javascrpt:;" target="_blank"><img src="/images/logo3.jpg" /></a></li>
    	<li><a href="javascrpt:;" target="_blank"><img src="/images/logo4.jpg" /></a></li>
    	<!-- <li><img src="images/4.jpg" /></li>
    	<li><img src="images/5.jpg" /></li> -->
    </ul>
    <ol>
    	
    </ol>
    <a href="javascript:;" id="goPrev">&laquo;</a>
    <a href="javascript:;" id="goNext">&raquo;</a>
</div>





