
footer>.top-wrap{
    width: 100%;
    height: 516px;
    background: #efeeeb;
}
footer>.top-wrap>.foot-top{
    width: 1140px;
    height: 376px;
    padding: 60px 0 80px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
footer>.top-wrap>.foot-top>.cloum-1{
    width: 195px;
    padding: 0 15px 0 15px;
    min-height: 1px;
    color: #666666;
}
footer>.top-wrap>.foot-top>.cloum-1>h5{
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 18px;
}
footer>.top-wrap>.foot-top>.cloum-1>ul>li{
    line-height: 22px;
   
}
footer>.top-wrap>.foot-top>.cloum-1>ul>li>a{
    font-size: 12px;
    color: #606463;
}
footer>.top-wrap>.foot-top>.cloum-1>ul>.online{
    padding-top: 10px;
}
footer>.btm-wrap{
    width: 100%;
    height: 238px;
    padding: 10px 0 20px 0;

}
footer>.btm-wrap>.foot-btm{
    width: 1170px;
    height: 209px;
    margin: 0 auto;
    text-align: center;
}
footer>.btm-wrap>.foot-btm>.nubia-x2>img{
    width: 105px;
    height: 59px;
}
footer>.btm-wrap>.foot-btm>.link{
    width: 1140px;
    height: 48px;
    background:#ffffff;
}
footer>.btm-wrap>.foot-btm>.link>a{
   margin-left: 15px;

}

footer>.btm-wrap>.foot-btm>.link-2{
    width: 1140px;
    height: 90px;
    padding-top: 10px;
}
footer>.btm-wrap>.foot-btm>.link-2>.link-3{
    font-size: 12px;
    color: #555555;
}
footer>.btm-wrap>.foot-btm>.link-2>.link-3>.icp{
    margin-top: 10px;
    margin-bottom: 5px;
}

footer>.btm-wrap>.foot-btm>.link-2>.link-3>.icp>img{
    vertical-align:middle;
    margin-left: 23px;
    height: 30px;
}
footer>.btm-wrap>.foot-btm>.link-2>.link-3>.icp>span>img{
    width: 14px;
    height: 14px;
    padding: 0 5px 0 5px;
}

footer>.btm-wrap>.foot-btm>.link-2>a{
    font-size: 12px;
    color: #e95f46;
    padding: 0 2px 0 2px;
}
footer>.btm-wrap>.foot-btm>.link-2>a>img{
    vertical-align:middle;

}

