
        <div class="top-wrap">
        <div class="foot-top">
        <div class="cloum-1">
            <h5>关于我们</h5>
            <ul>
            <li><a href="javascript:;">关于nubia</a></li>
            <li><a href="javascript:;">新闻中心</a></li>
            <li><a href="javascript:;">体验店</a></li>
            <li><a href="javascript:;">公益</a></li>
            <li><a href="javascript:;">视频长廊</a></li>
            <li><a href="javascript:;">联系我们</a></li>
            <li><a href="javascript:;">友情链接</a></li>
            <li><a href="javascript:;">合作伙伴</a></li>
        </ul>
        </div>
        <div class="cloum-1">
            <h5>手机</h5>
            <ul>
            <li><a href="javascript:;">红魔Mars</a</li>
            <li><a href="javascript:;">努比亚X</a></li>
            <li><a href="javascript:;">Z18</a></li>
            <li><a href="javascript:;">红魔电竞手机</a></li>
            <li><a href="javascript:;">Z18mini</a></li>
            <li><a href="javascript:;">V18</a></li>
            <li><a href="javascript:;">nubiaZ17S</a></li>
            <li><a href="javascript:;">nubiaZ17minis</a></li>
            <li><a href="javascript:;">nubia Z17</a></li>
            <li><a href="javascript:;">nubia Z17minis</a></li>
            <li><a href="javascript:;">nubia Z11</a></li>
            <li><a href="javascript:;">nubia N3</a></li>
            <li><a href="javascript:;">M2青春版</a></li>
            <li><a href="javascript:;">N2</a></li>
            <li><a href="javascript:;">M2畅玩版</a></li>
            </ul>
        </div>
        <div class="cloum-1">
            <h5>配件</h5>
            <ul>
            <li><a href="javascript:;">保护壳</a></li>
            <li><a href="javascript:;">皮套</a></li>
            <li><a href="javascript:;">贴膜</a></li>
            <li><a href="javascript:;">耳机</a></li>
            <li><a href="javascript:;">数据线/充电器</a></li>
            <li><a href="javascript:;">周边产品</a></li>
        </ul>
        </div>
        <div class="cloum-1">
            <h5>服务中心</h5>
            <ul>
            <li><a href="javascript:;">个人中心</a></li>
            <li><a href="javascript:;">售后服务</a></li>
            <li><a href="javascript:;">售后网点</a></li>
            <li><a href="javascript:;">特色服务</a></li>
            <li><a href="javascript:;">软件下载</a></li>
            <li><a href="javascript:;">产品安全</a></li>
        </ul>
        </div>
        <div class="cloum-1">
            <h5>关注我们</h5>
            <ul>
            <li><a href="javascript:;">官方社区</a></li>
            <li><a href="javascript:;">新浪微博</a></li>
        </ul>
        </div>
        <div class="cloum-1">
            <h5>全国服务热线</h5>
            <ul>
            <li><a href="javascript:;"> 400-700-6600</a></li>
            <li><a href="javascript:;">周一到周日 8:30-20:30<br>
                (全年无休)</a></li>
            <li class="online"><a href="javascript:;"><img src="/images/zx.png" alt="图片迷路"></a></li>
        </ul>
        </div>
    </div>
</div>
<div class="btm-wrap">
    <div class="foot-btm">
        <a class="nubia-x2" href="#"><img src="/images/nubia-logo-x2.png"></a>
        <div class="link">
            <a href="javascript:;"><img src="/images/wb.png"></a>
            <a href="javascript:;"><img src="/images/wx.png"></a>
        </div>
        <div class="link-2">
            <div class="link-3">
                <p>2012-2018 努比亚技术有限公司 版权所有 粤ICP备10006213号</p>
                <p class="icp">
                    <span><img src="/images/gs.jpg" >ICP经营许可证编号：粤B2-20120688</span>
                    <span><img src="/images/ga.png" >粤公网安备 44030502000309号</span> 
                    <img  src="/images/cnnic.png"><img  src="/images/cert.png" alt=""></p>
            </div>
            <a href="javascript:;">加入我们</a>-
            <a href="javascript:;">公益</a> -
            <a href="javascript:;">星空之约</a> -
            <a href="javascript:;">问题反馈</a> -
            <a href="javascript:;"><img src="/images/cn.png" ></a>


        </div>
    </div>
</div>
   