
<script type="text/html" id="list-template">
    
    {{each list item i}}
                <li>
                    <div class="list-goods">
                        <div class="list-top">
                                <a href="/html/Details.html?id={{ item.id }}"><img src="{{item.img}}"></a>
                            <div class="list-top-botm">
                                <p>{{ item.title }}</p>
                                <span>{{ item.describe }}</span>
                            </div>
                        </div>
                        <div class="list-botm">
                            <div class="Price"><span>￥ {{item.price}}</span></div>
                            <div class="price-btn">
                                <a class="btn-info" href="##">查看详情</a>
                                <a class="btn-sell" href="##">立即购买</a>
                            </div>
                        </div>
                    </div>
                </li>
    {{/each}}
</script>
